In [1]:
import pandas as pd

In [2]:
temperatures = pd.read_csv("GlobalTemperatures.csv")

In [3]:
temperatures.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
temperatures['LandAverageTemperature'].sum()

26631.644999999997

In [5]:
temperatures['LandAverageTemperature'].mean()

8.374731132075466

In [6]:
temperatures.mean(axis=0)

C:\Users\lizzc\AppData\Local\Temp/ipykernel_19088/2676681442.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  temperatures.mean(axis=0)

LandAverageTemperature                        8.374731
LandAverageTemperatureUncertainty             0.938468
LandMaxTemperature                           14.350601
LandMaxTemperatureUncertainty                 0.479782
LandMinTemperature                            2.743595
LandMinTemperatureUncertainty                 0.431849
LandAndOceanAverageTemperature               15.212566
LandAndOceanAverageTemperatureUncertainty     0.128532
dtype: float64

In [7]:
temperatures['LandMaxTemperature'].describe()

count    1992.000000
mean       14.350601
std         4.309579
min         5.900000
25%        10.212000
50%        14.760000
75%        18.451500
max        21.320000
Name: LandMaxTemperature, dtype: float64

In [8]:
temperatures['LandMinTemperature'].describe()

count    1992.000000
mean        2.743595
std         4.155835
min        -5.407000
25%        -1.334500
50%         2.949500
75%         6.778750
max         9.715000
Name: LandMinTemperature, dtype: float64

In [11]:
temperatures['LandAverageTemperature'].describe(percentiles = [0.1, 0.2, 0.3, 0.4, 0.5])

count    3180.000000
mean        8.374731
std         4.381310
min        -2.080000
10%         2.563900
20%         3.641200
30%         4.956700
40%         6.396200
50%         8.610500
max        19.021000
Name: LandAverageTemperature, dtype: float64

In [12]:
temperatures['LandAndOceanAverageTemperature'].count()

1992

In [13]:
temperatures['LandAverageTemperature'].min()

-2.08

In [14]:
temperatures['LandAndOceanAverageTemperature'].median()

15.251000000000001

In [15]:
temperatures['LandMaxTemperature'].mode()

0      8.555
1     10.781
2     11.411
3     17.196
4     17.289
5     17.713
6     19.360
7     19.628
8     19.753
9     19.850
10    19.987
11    20.037
dtype: float64